
// Main colors
$theme-colorPrimary: #C4C4C4;
$theme-colorSecondary: #13131a;

$theme-colorAccent: #a7a29d;
$theme-colorAccentDarker: #5e5e5e;
$theme-colorAccentContrast: #fff;

// Grays
$theme-lighterGray: #ebebeb;
$theme-lighterGrayFooter: #ebebeb;
$theme-lightGray: #939393;
$theme-mediumGray: #4c4c4c;
$theme-darkGray: #111111;

// Sizes
$headerHeight: 135px;
$footerHeight: 140px;
$widgetMaxWidth: 1000px;